---
---
@import "{{ site.theme }}";

// Centraliza a estrutura do site na tela e aumenta a largura útil
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

// Melhora o alinhamento e espaçamento da barra lateral esquerda
header {
  width: 230px;
  float: left;
  position: fixed;
  padding-right: 20px;
}

// Ajusta a seção principal de conteúdo (os links e textos)
section {
  width: 600px;
  float: right;
  padding-left: 20px;
}

// Ajuste para telas menores (responsividade)
@media screen and (max-width: 768px) {
  header, section {
    float: none;
    position: static;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}